*{
    padding: 0;
    margin: 0;
}
body{
    width: 1000px;
    background-color: black;
    margin: 0 auto;
}
.tooltip{
    position: relative;
}
.container{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.container1{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: dimgray;
}

.puerta{
    position: absolute;   
    visibility: hidden;
    background-color: burlywood;
    color: black;
    text-align: center;
    
}
#puerta{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    color: red;
    font-size:  1.5em;
    position: absolute;
    top:915px;
    left: 474px;
}

#puerta:hover .puerta{
    visibility: visible;
}
.galana{
    
    position: absolute;   
    visibility: hidden;
    background-color: burlywood;
    color: black;
    text-align: center;
}
#galana{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    color: red;
    font-size:  1.5em;
    position: absolute;
    top:695px;
    left: 500px;
}

#galana:hover .galana{
    visibility: visible;
}
.ganan{
    
    position: absolute;   
    visibility: hidden;
    background-color: burlywood;
    color: black;
    text-align: center;
}
#ganan{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    color: red;
    font-size:  1.5em;
    position: absolute;
    top:1018px;
    left: 115px;
}

#ganan:hover .ganan{
    visibility: visible;
}
.monolito{
    
    position: absolute;   
    visibility: hidden;
    background-color: burlywood;
    color: black;
    text-align: center;
}
#monolito{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    color: red;
    font-size:  1.5em;
    position: absolute;
    top:495px;
    left: 454px;
}

#monolito:hover .monolito{
    visibility: visible;
}
.puntos>p{
    color: white;
}
iframe{
    overflow: hidden;
    border: white 6px solid;
    text-align: center;
    display: block;
    margin: 0 auto;    
}
#puerta:target{
   color: green;
    
}
#monolito:target{
   color: green;
   
}
#ganan:target{
   color: green;
    transform: 
}
#galana:target{
   color: green; 
}
/*.direcciones a{
    display: inline-block;
}*/
.direcciones{
    display: inline-block;
}

